

#include "../src/version.h"

1	ICON	".\\TradeHelperForPoe.ico"

1 VERSIONINFO
    FILEVERSION    TRADEHELPER_MAJOR_VERSION, TRADEHELPER_MINOR_VERSION, TRADEHELPER_PATCH_VERSION, TRADEHELPER_BUILD_NUMBER
    PRODUCTVERSION TRADEHELPER_MAJOR_VERSION, TRADEHELPER_MINOR_VERSION, TRADEHELPER_PATCH_VERSION, TRADEHELPER_BUILD_NUMBER

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", TRADEHELPER_COMPANY_NAME
            VALUE "FileDescription", TRADEHELPER_BINARY_NAME
            VALUE "FileVersion", TRADEHELPER_VERSION_STRING
            VALUE "InternalName", TRADEHELPER_BINARY_NAME
            VALUE "ProductName", TRADEHELPER_BINARY_NAME
            VALUE "ProductVersion", TRADEHELPER_VERSION_STRING
        END
    END
END
